/*
root_index.css
*/

body {
    margin: 0;
    padding: 0;
    font-family: MyriadProRegular, PTSansRegular;
    min-width: 1200px;
}

img {
    border: 0;
}

.div_block {
    width: 100%;
    margin: 0;
    padding: 0;
}

.div_content {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

.head_separator {
    position: relative;
    height: 5px;
    background-color: #ffdb1f;
}

#head {
    position: relative;
    height: 175px;
}

#head_logo {
    position: absolute;
    top: 40px;
}

#head_text_we_best {
    font-family: MyriadProCondBold, PTSansNarrowBold;
    position: absolute;
    top: 65px;
    left: 325px;
    font-size: 35px;
}

#head_text_we_best span{
    color: #683772;
}

#head_text_we_best .number{
    font-size: 44px;
    font-style: italic;
    font-weight: bold;
}

#head_text_quick {
    font-family: MyriadProRegular;
    position: absolute;
    top: 115px;
    left: 100px;
    font-size: 21px;
    color: #404040;
}